/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v29-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v29-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --light-color: #fff;
  --main-font: "Montserrat";
  --secondary-font: "Roboto";

  --secondary-color: #ff4e50;
}
html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
}

/* Header */
.site-header {
  text-align: center;
  background-image: url(../images/banner-m.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--light-color);
  padding-top: 34px;
  padding-bottom: 138px;
  line-height: 1.2;
}
.authorization-list {
  font-size: calc(14rem / 16);

  display: flex;
  justify-content: center;

  margin-bottom: 130px;
}
.authorization-list__item {
  position: relative;
}
.authorization-list__item:not(:last-child) {
  margin-right: 40px;
}
.authorization-list__item::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 36px;
  border: 2px solid var(--light-color);
  border-radius: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 200 linear;
}
.authorization-list__item:hover.authorization-list__item::after {
  visibility: visible;
  opacity: 1;
}
.authorization-list__item:focus.authorization-list__item::after {
  visibility: visible;
  opacity: 1;
}
.site-logo {
  font-size: calc(20rem / 16);
  text-transform: uppercase;
  margin-bottom: 35px;
}
.site-header__slogan {
  font-size: calc(30rem / 16);
  text-transform: uppercase;
  margin-bottom: 18px;
}
.site-header__description {
  font-family: var(--secondary-font);
  font-size: var(18rem / 16);
  font-weight: 300;
  padding: 0 50px;
  margin-bottom: 18px;
}
.site-header__link {
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  font-size: calc(14rem / 16);
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

header > .site-header__link {
  background-color: var(--secondary-color);
}
