/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
/* General styles */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #555252;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

/* HEADER */
.site-header {
  margin-bottom: 94px;
}
.site-navigation {
  padding-top: 36px;
}
.site-logo {
  float: left;

  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 300;
}
.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.navigation-list {
  padding-top: 10px;

  float: right;

  font-family: "Open-sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation-list-item {
  float: left;
  cursor: pointer;
}
.navigation-list-item:not(:last-child) {
  margin-right: 36px;
}
.navigation-list-item:hover,
.navigation-list-item:focus {
  color: #1abc9c;
}

/* SECTION FEATURED PRODUCT */
.featured-product {
  margin-bottom: 102px;
}
.section-header {
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 92px;
}

.section-header::after {
  content: "";
  display: block;
  background-color: #1abc9c;
  height: 7px;
  width: 164px;
  margin: 28px auto 0;
}

.products-list-item {
  float: left;
  background-color: #e9f0fd;
}
.products-list-item:hover .product-list-link {
  background-color: #1abc9c;
}
.products-list-item:focus .product-list-link {
  background-color: #1abc9c;
}
.products-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.products-list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.product-list-link {
  display: block;
  background-color: #323232;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

.product-name {
  float: left;

  padding: 7px 0 7px 14px;
}

.product-price {
  float: right;
  display: block;
  padding: 7px 14px;
  background-color: rgba(255, 255, 255, 0.44);
}

/* LATEST NEWS */
.news-list-item {
  float: left;
  max-width: 350px;
}
.news-list-item:not(:last-child) {
  margin-right: 30px;
}
