html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  background-color: #fef200;
  flex-basis: 10%;
  margin-bottom: 3%;
}
main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
article {
  background-color: #01aef0;
  flex-basis: 54%;
}
aside {
  background-color: #a7a8ac;
  flex-basis: 20%;
}
aside + aside {
  background-color: #f25a29;
  flex-basis: 20%;
}

footer {
  background-color: #00a550;
  flex-basis: 10%;
}

header,
footer,
aside,
article {
  border: 3px solid #444;
}
<<<<<<< HEAD

picture {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto;
}
=======
>>>>>>> 2a1c01b3d02bb2ccf0b7eab879077bc71cb3efc9
